/* Cambia el color de fondo de la barra de encabezado */
.swagger-ui .topbar {
    background-color: #138bdb !important;
}

/* Cambia el color del título principal */
.swagger-ui .topbar .topbar-wrapper .title {
    color: #dbcbcb !important;
}

/* Cambia el color de fondo de la página */
body {
    background-color: #d7dad0 !important;
}

/* Cambia los colores de los botones */
.swagger-ui .btn {
    background-color: #4CAF50 !important;
    color: #FFFFFF !important;
}
